* {
  box-sizing: border-box;
  margin: 0;
}

.app {
  max-width: 1100px;
  margin: 0 auto;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(87, 152, 235) 0%,
    rgb(133, 222, 213) 67%
  );
  border-radius: 10px;
  padding-bottom: 30px;
}
.top-block {
  margin: 30px;
  color: white;
  padding: 25px;
}

.head-top-block {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding-bottom: 5px;
  margin-bottom: 0;
}

.current-date {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
}

.search-form {
  align-self: center;
  align-items: flex-end;
}

.form {
  display: flex;
  justify-content: flex-end;
}

.form-input {
  border-radius: 5px;
  border: 0;
  width: 300px;
  color: #5da2e7;
  outline: none;
  padding: 0 5px;
}

.btn-search {
  margin-left: 15px;
  background: #5da2e7;
  border-radius: 5px;
  border: 0;
}

.btn-search:hover {
  background-color: #057bcc;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.search-icon {
  width: 16px;
  height: 16px;
  position: relative;
  bottom: 2px;
}

.current-weather-block {
  margin: 0 auto;
  margin-top: 30px;
  max-width: 990px;
  border-radius: 10px;
  border: solid 1px #fff;
  padding: 30px;
}

.current-city {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

.degree {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 58px;
  padding-top: 10px;
  margin: 0 auto;
}

.celsius:hover {
  cursor: pointer;
}

.fahrenheit:hover {
  cursor: pointer;
}

.measurement {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  padding-top: 10px;
  margin: 0 auto;
}

.weather-img {
  display: flex;
  justify-content: center;
}

.weather-icon {
  width: 200px;
  height: 200px;
}

.weather-parameters {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 5px;
}

.week-weather-block {
  margin: 60px 60px 0 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.week-weather-block-card {
  width: 182px;
  padding: 15px;
  border-radius: 10px;
  border: solid 1px #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.card-weather-icon {
  width: 85px;
  height: 85px;
}

.card-day {
  font-weight: 400;
  font-size: 20px;
}

.card-degree {
  font-size: 25px;
  padding-top: 15px;
  padding-bottom: 0;
  margin-bottom: 0;
}
